@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/eb-garamond-cyrillic_latin-regular.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/eb-garamond-cyrillic_latin-italic.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/eb-garamond-cyrillic_latin-700.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/eb-garamond-cyrillic_latin-700italic.woff2')
    format('woff2');
}

:root {
  /* Font sizes */
  --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --font-size-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --font-size-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);

  --font-size-base: var(--font-size--1);

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
}

body {
  font-family: 'EB Garamond', serif;
  font-size: var(--font-size-base);
}

.main-wrapper {
  padding: var(--space-s);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.about__header {
  & ::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-block-start: 1rem;
  }
}

.about__title {
  font-size: var(--font-size-base);
  letter-spacing: calc(var(--font-size-base) * -0.025);
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}

.about__avatar {
  object-fit: contain;
}

.about__skills {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;
  margin-block-start: 1rem;
  padding: 0.5rem;
}

.about__contacts {
  & a::after {
    content: '\2197';
  }
}

.projects-list {
  border: 1px dashed red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-item {
  --font-size-title: var(--font-size-3);
  padding: 0.5rem;
  border: 1px dashed green;
}

.project-item__title {
  font-size: var(--font-size-title);
}
