@font-face {
  font-family: 'Nunito Sans';
  src: url('/src/assets/fonts/nunito-sans-variable-font_ytlc-opsz-wdth-wght.woff2')
    format('woff2') tech(variations);
  font-weight: 200 1000;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('/src/assets/fonts/playfair-display-italic-variable-font_wght.woff2')
    format('woff2') tech(variations);
  font-weight: 400 900;
  font-display: swap;
}

:root {
  font-size: 100%;

  /* Colors */
  --color-bg: hsl(80, 13%, 95%);
  --color-primary: hsl(255, 41%, 23%);
  --color-secondary: hsl(224, 66%, 61%);

  --color-tag-gradient-start: hsla(255, 84%, 75%, 0.2);
  --color-tag-gradient-end: hsla(255, 56%, 67%, 0.22);

  /* Font sizes */
  --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --font-size-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --font-size-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);

  --font-size-base: var(--font-size--1);

  /* Spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
}

body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  block-size: 100vh;
}

.main-wrapper {
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  font-size: var(--font-size-base);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-primary);
  flex: 1 1 auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.about__content {
  display: flex;
  flex-direction: column;
}

.about__header {
  border-block-end: 1px solid var(--color-secondary);
  padding-block-end: var(--space-xs);
}

.about__title {
  font-size: var(--font-size-base);
  font-family: 'Playfair Display Italic', serif;
  font-weight: 400;
  font-synthesis: none;
  font-style: italic;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
}

.contact-item__icon {
  block-size: var(--font-size--1);
  fill: var(--color-primary);
  transition: fill 300ms;
}

.contact-item__link {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  inline-size: fit-content;
  color: var(--color-primary);
  text-decoration: none;
}

.contact-item__link-text {
  position: relative;
  text-decoration: underline;
  transition: color 300ms;
}

.yank-icon {
  inline-size: var(--font-size--2);
  block-size: var(--font-size--2);
  stroke: var(--color-primary);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects__header {
  border-block-end: 1px solid var(--color-secondary);
  padding-block-end: var(--space-xs);
}

.projects__title {
  font-size: var(--font-size-base);
  font-family: 'Playfair Display Italic', serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  text-wrap: balance;
}

.projects-list {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  font-family: 'Nunito Sans', sans-serif;
}

.project-item {
  display: flex;
  border-block-end: 1px solid var(--color-secondary);
}

.project-item__image-wrapper {
  flex: 0 0 auto;
  align-self: center;
  padding: var(--space-2xs);
  border-inline-end: 1px dashed var(--color-secondary);
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-items: center;
}

.project-item__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: var(--space-2xs);
}

.project-item__title {
  font-size: var(--font-size-1);
  font-family: 'Playfair Display Italic', serif;
  font-weight: 400;
  font-style: italic;
  text-wrap: balance;
  line-height: 1;
  transition: font-weight 300ms;
}

.project-item__description {
  margin-block-start: var(--space-3xs);
  margin-block-end: var(--space-3xs);
  font-size: var(--font-size-base);
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.2;
  text-wrap: pretty;
}

.project-item__tags {
  display: flex;
  gap: var(--space-3xs);
  flex-wrap: wrap;
}

.project-item__tag {
  padding-inline: var(--space-2xs);
  font-size: var(--font-size--2);
  background: linear-gradient(
    to right,
    var(--color-tag-gradient-start),
    var(--color-tag-gradient-end)
  );
  border-radius: var(--font-size--2);
}

.project-item__date {
  font-size: var(--font-size--2);
  color: var(--color-secondary);
  font-weight: 700;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: end;
  padding-inline-end: var(--space-2xs);
  border-block-start: 1px dashed var(--color-secondary);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--space-s);
  padding-block: var(--space-2xs);
  font-size: var(--font-size--2);
  font-family: 'Playfair Display Italic', serif;
}

@media (hover) {
  .contact-item__link:hover .contact-item__link-text {
    color: var(--color-secondary);
    transition: color 300ms;
  }

  .contact-item__link:hover .contact-item__icon {
    fill: var(--color-secondary);
    transition: fill 300ms;
  }

  .yank-icon {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s 500ms,
      opacity 300ms 500ms,
      stroke 300ms 500ms;
    &:hover {
      visibility: visible;
      opacity: 1;
      transition:
        visibility 0 300ms,
        opacity 300ms,
        stroke 300ms;
    }
  }

  .yank-icon:hover {
    stroke: var(--color-secondary);
  }

  .contact-item__link:hover + .yank-icon {
    visibility: visible;
    stroke: var(--color-secondary);
    opacity: 1;
    transition:
      visibility 0s,
      opacity 300ms 1000ms,
      stroke 300ms 1000ms;
  }

  .project-item__image {
    filter: blur(1.25rem);
    transition: filter 300ms;
  }

  .project-item:hover .project-item__title {
    font-weight: 700;
    transition: font-weight 300ms;
  }

  .project-item:hover .project-item__image {
    filter: none;
    transition: filter 300ms;
  }
}

@media screen and (min-width: 600px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 2fr);
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      'info proj'
      'me proj'
      'misc proj';

    max-width: 1000px;
    margin-inline: auto;
  }

  .projects {
    grid-area: proj;
  }

  .project-item__image {
    inline-size: 140px;
    block-size: auto;
  }
}
